<div class="container1">
    <h2>Add Category</h2>
    <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="name" formControlName="name">
            <mat-error *ngIf="categoryForm.controls['name']?.hasError('required')">This input is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput type="text" placeholder="Description" formControlName="description">
            <mat-error *ngIf="categoryForm.controls['description']?.hasError('required')">This input is required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Add Category</button>
    </form>

</div>