<div >
    <h2>Review</h2>
    <!-- <div>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Favorite food</mat-label>
            <input  type="range" max="5" placeholder="" value="Sushi">
          </mat-form-field>
    </div> -->
    <div>
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <!-- <div formGroupName = "userData"> -->
          <mat-form-field class="example-full-width" appearance="fill" >
            <mat-label>Leave a comment</mat-label>
            <textarea type="text" id="username" formControlName="description" matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
          <input type="range" max="5" placeholder="" value="" formControlName="rating">
            <!-- </div> -->
            <div class="review-content">
                <button  mat-raised-button color="primary" type="submit" >Submit</button>
                <button mat-raised-button color="primary" (click)="dialog.closeAll()" type="reset">Cancel</button>

            </div>
        </form>
    </div>

</div>
