<div >
    <h2>Review</h2>
    <!-- <div>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Favorite food</mat-label>
            <input  type="range" max="5" placeholder="" value="Sushi">
          </mat-form-field>
    </div> -->
    <div>
          <form>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
          <input type="range" max="5" placeholder="" value="">
        </form>
    </div>
    <div class="review-content">
        <button  mat-raised-button color="primary" >Submit</button>
        <button mat-raised-button color="primary">Cancel</button>

    </div>
</div>
