<div style="background-color: #f0f0f0;min-height: calc(100vh - 60px);padding-bottom: 50px;">
    <div class="main-container">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element;let i = index"> {{i + 1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Code Column -->
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef> Code </th>
              <td mat-cell *matCellDef="let element"> {{element.code}} </td>
            </ng-container>

            <!-- Discount Column -->
            <ng-container matColumnDef="discount">
              <th mat-header-cell *matHeaderCellDef> Discount % </th>
              <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
            </ng-container>


            <!-- Expiry Date Column -->
            <ng-container matColumnDef="exipryDate">
              <th mat-header-cell *matHeaderCellDef> Expiry Date </th>
              <td mat-cell *matCellDef="let element"> {{element.exipryDate}} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon (click)="openEditPopup(element)">edit</mat-icon>
                <mat-icon (click)="openDeletePopup(temp,element)">delete</mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>
<app-ajax-loader *ngIf="isLoadingComplete"></app-ajax-loader>
<ng-template #temp>
    <mat-card-title class="clear-popoup-title-center-align" translate>
        Message
    </mat-card-title>
    <div mat-dialog-content>
        <div class="clear-popoup-cnt-text" translate>Are you want to delete item?</div>
    </div>
    <div mat-dialog-actions class="fRight">
        <button mat-dialog-close class="clear-popoup-no-btn" translate>No</button>
        <button mat-dialog-close class="clear-popoup-yes-btn" (click)="deleteCoupon()" translate>Yes</button>
    </div>
</ng-template>
