.main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 10px 8px 0px 8px;
}
.example-card {
    width: 100%;
}
.sticky-card {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white; /* Ensure it doesn't overlap with content */
    // padding: 16px; /* Adjust padding as needed */
    // margin-bottom: 16px; /* Space below the sticky card */
}

.highlight {
    background-color: #b1efb5;
}
.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust as needed */
    overflow: hidden;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
    cursor: pointer;
}
.product-image img:hover {
    transform: scale(1.2);
}
.action-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.favorite-icon-disable-color {
    color: #a2a2a2;
    cursor: pointer;
}
.favorite-icon-active-color {
    color: red;
    cursor: pointer;
}
.product-info {
    display: flex;
    flex-direction: column;
    .brand-name{
        font-size: 14px;
        color: #878787;
        font-family: sans-serif;
        height: 20px;
        line-height: 20px;
    }
    .description{
        font-size: 14px;
        color: #212121;
        font-family: sans-serif;
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        max-width: 290px;
    }
    .amount{
        font-size: 16px;
        font-family: sans-serif;
        color: #212121;
        height: 20px;
        line-height: 20px;
        font-weight: 600;
    }
}
