<div *ngIf="!isAdminLogin && !isCustomerLogin">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand" *ngIf="!commonService?.userInfo">E-commerce</span>
    <span class="navbar-brand" *ngIf="commonService?.userInfo">Chat</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/order" *ngIf="!commonService?.userInfo" routerLinkActive="active">Track Order</button>
    <button mat-button routerLink="/signup" *ngIf="!commonService?.userInfo" routerLinkActive="active">Register</button>
    <button mat-button routerLink="/login" *ngIf="!commonService?.userInfo" routerLinkActive="active">Login</button>
    <button mat-button *ngIf="commonService?.userInfo" routerLinkActive="active" (click)="logOut()">Log Out</button>
  </mat-toolbar>
</div>
<div *ngIf="isAdminLogin">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">E-commerce</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/admin/analytics" routerLinkActive="active">Analytics</button>
    <button mat-button routerLink="/admin/category" routerLinkActive="active">Category</button>
    <button mat-button routerLink="/admin/product" routerLinkActive="active">Products</button>
    <button mat-button routerLink="/admin/order" routerLinkActive="active">Orders</button>
    <button mat-button routerLink="/admin/post-coupon" routerLinkActive="active">Post Coupon</button>
    <button mat-button routerLink="/admin/coupon" routerLinkActive="active">Coupons</button>
    <button mat-button *ngIf="commonService?.userInfo" routerLinkActive="active" (click)="logOut()">Log Out</button>
  </mat-toolbar>
</div>
<div *ngIf="isCustomerLogin">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">E-commerce</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/customer/dashboard"  routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/customer/cart"  routerLinkActive="active">Cart</button>
    <button mat-button routerLink="/customer/my_orders"  routerLinkActive="active">Orders</button>
    <button mat-button routerLink="/customer/wishlist"  routerLinkActive="active">Wishlist</button>
    <button mat-button routerLink="/customer/profile"  routerLinkActive="active">Profile</button>
    <button mat-button *ngIf="commonService?.userInfo" routerLinkActive="active" (click)="logOut()">Log Out</button>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>

